@mixin flex($justify, $direction, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

%display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  min-height: 100vh;
  background-color: rgba(238, 130, 238, 0.538);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .navigation {
    .list-container {
      @include flex(space-between, row, center);
      border-bottom: 2px dotted gray;
      list-style: none;
      padding: 20px 40px;
      div {
        display: flex;
        gap: 25px;
        font-weight: 600;
        cursor: pointer;
      }

      li {
        font-size: 24px;
        color: gray;
        &.active {
          color: white;
        }
      }
    }
  }
}
